<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :repeats, as: :radio_buttons %>

  <%= simple_fields_for :schedule_attributes, @event.schedule_attributes do |fields| %>
    <%= fields.input :interval_unit, :collection => ScheduleAttributes::INTERVAL_UNITS %>
    <%= fields.input :repeat %>
    <%= fields.input :start_date %>
    <%= fields.input :date %>
    <%= fields.input :interval %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
