<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:schedule) %>:</strong></dt>
  <dd><%= @event.schedule %></dd>
</dl>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date:  @date.prev_month %>
    <%=  @date .strftime("%B %Y") %>   
    <%= link_to ">", date:  @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @occurrences_by_date[date] %>
    <ul>
      <% @occurrences_by_date[date].each do |occurrence| %>
        <li><%= @event.name %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
